@page
@model Archive.CDManagement.Frontend.Pages.Staff.IndexStaffModel
@{
    ViewData["Title"] = "Staff Page";
}

<div class="text-center">
</div>
<form method="post">
    <a asp-page="Create">Add Staff</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Staff in Model.Staff)
            {
                <tr>
                    <td>@Staff.Id</td>
                    <td>@Staff.FirstName</td>
                    <td>@Staff.LastName</td>
                    <td>@Staff.Address</td>
                    <td>@Staff.Email</td>
                    <td>@Staff.MobileNumber</td>
                    <td>@Staff.Active</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@Staff.Id">Edit</a> |
                        <button type="submit" asp-page-handler="delete"
                                asp-route-staffId="@Staff.Id">
                            delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>