@page
@model Archive.CDManagement.Frontend.Pages.HelpModel
@{
    ViewData["Title"] = "Help Page";
}
<div class="text-center">
    <h1 class="display-4">Help</h1>
    <p>The following Screenshot is to help with the CD form page.</p>
    <img src="@Url.Content("~/images/help/CDPage.jpg")" alt="Image" width="1200px" />
</div>
<div class="text-center">
    <p>The following Screenshot is to help with Add CD page.</p>
    <img src="@Url.Content("~/images/help/CreateCDPage.jpg")" alt="Image" width="1200px" />
</div>
<div class="text-center">
    <p>The following Screenshot is to help with Edit CD page.</p>
    <img src="@Url.Content("~/images/help/EditCDPage.jpg")" alt="Image" width="1200px" />
</div>
<div class="text-center">
    <p>The following Screenshot is to help with Staff page.</p>
    <img src="@Url.Content("~/images/help/StaffPage.jpg")" alt="Image" width="1200px" />
</div>
<div class="text-center">
    <p>The following Screenshot is to help with the add Staff page.</p>
    <img src="@Url.Content("~/images/help/AddStaffpage.jpg")" alt="Image" width="1200px" />
</div>
<div class="text-center">
    <p>The following Screenshot is to help with the add Staff page.</p>
    <img src="@Url.Content("~/images/help/AddStaffpage.jpg")" alt="Image" width="1200px" />
</div>

