@page 
@model Archive.CDManagement.Frontend.Pages.Rentals.IndexRentalModel
@{
    ViewData["Title"] = "Rentals Index Page";
}

<div>
</div>
<form method="post">
    <a asp-page="Create">Create Rental</a>
    <label>Staff:</label>
    <select>
        <option>e.g. 1</option>
    </select>
    <label>CD:</label>
    <select>
        <option>e.g. 1</option>
    </select>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>RentalItems</th>
                <th>StaffId</th>
                <th>Staff Member</th>
                <th>DateRented</th>
                <th>DateReturned</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var Rental in Model.rentals)
            {
                <tr>
                    <td>@Rental.Id</td>
                    <td>@Rental.RentalItems.Count</td>
                    <td>@Rental.StaffId</td>
                    <td>@Rental.Staff.FirstName @Rental.Staff.LastName</td>
                    <td>@Rental.DateRented</td>
                    <td>@Rental.DateReturned</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@Rental.Id">Edit</a> |
                        <button type="submit" asp-page-handler="delete"
                                asp-route-id="@Rental.Id">
                            delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>